Repository Money-Flow/Cash: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, ts-lint, stylelint, sort-package-json

eslint:
  run: yarn lint

ts-lint:
  run: yarn tsc --noEmit

stylelint:
  run: yarn stylelint

sort-package-json:
  run: yarn sort-package-json

fix: eslint
  .eslintrc.js
  tsconfig.json
Due: none

test: add e2e test to create new account
  tests/create-account.spec.ts
Due: eslint, ts-lint

feat: add react-router-dom, remove tests-examples
  package.json
  tests-examples/demo-todo-app.spec.ts
  tests/create-account.spec.ts
  tests/example.spec.ts
  yarn.lock
Due: eslint, ts-lint, sort-package-json

refactor: structure
  .stylelintrc.js
  .vscode/settings.json
  package.json
  src/apollo/index.ts
  src/app/App.css
  src/app/App.tsx
  src/features/Expense/components/Expense.component.tsx
  src/features/Expense/components/index.ts
  src/features/Expense/graphql/queries/index.ts
  src/features/Expense/graphql/queries/useExpense.tsx
  src/index.tsx
  tests/create-account.spec.ts
  yarn.lock
Due: eslint, ts-lint, sort-package-json

fix: disable e2e
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Due: none

fix: eslint import order
  .eslintrc.js
  src/index.tsx
Due: eslint, ts-lint

fix: eslint import order (#314)
  .eslintrc.js
  src/index.tsx
Due: eslint, ts-lint

refactor: structure (#307)
  .eslintrc.js
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .stylelintrc.js
  .vscode/settings.json
  package.json
  src/apollo/index.ts
  src/app/App.css
  src/app/App.tsx
  src/features/Expense/components/Expense.component.tsx
  src/features/Expense/components/index.ts
  src/features/Expense/graphql/queries/index.ts
  src/features/Expense/graphql/queries/useExpense.tsx
  src/index.tsx
  tests-examples/demo-todo-app.spec.ts
  tests/example.spec.ts
  tsconfig.json
Due: eslint, ts-lint, sort-package-json

feat: add routing
  .eslintrc.js
  package.json
  src/app/App.tsx
  src/hooks/useAuth.tsx
  src/index.tsx
  src/pages/login.page.tsx
  yarn.lock
Due: eslint, ts-lint, sort-package-json

feat: add routing (#316)
  .eslintrc.js
  package.json
  src/app/App.tsx
  src/hooks/useAuth.tsx
  src/index.tsx
  src/pages/login.page.tsx
  yarn.lock
Due: eslint, ts-lint, sort-package-json

feat: create wrapper cmponent
  .eslintrc.js
  .storybook/main.js
  .stylelintrc.js
  package.json
  src/app/App.css
  src/features/Auth/components/Wrapper/Wrapper.component.tsx
  src/features/Auth/components/Wrapper/Wrapper.driver.tsx
  src/features/Auth/components/Wrapper/Wrapper.module.css
  src/features/Auth/components/Wrapper/Wrapper.spec.tsx
  src/features/Auth/components/Wrapper/Wrapper.stories.tsx
  src/features/Auth/components/index.ts
  src/features/Auth/constants.ts
  src/features/Auth/hooks/useAuth.tsx
  src/index.tsx
  src/pages/Login.tsx
  src/pages/assets/login.jpeg
  src/pages/login.page.tsx
  yarn.lock
Due: eslint, ts-lint, sort-package-json

ci: add test check
  .eslintrc.js
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  package.json
Due: sort-package-json

fix: build
  package.json
Due: sort-package-json

feat: create Logo component
  .eslintrc.js
  src/components/Logo/Logo.module.css
  src/components/Logo/Logo.stories.tsx
  src/components/Logo/Logo.tsx
  src/components/Logo/assets/logo.svg
  src/features/Auth/components/Wrapper/Wrapper.component.tsx
  src/features/Auth/components/Wrapper/Wrapper.module.css
Due: eslint, ts-lint

test: add test for logo
  src/components/Logo/Logo.tsx
  src/components/Logo/constants.ts
  src/components/Logo/index.ts
  src/features/Auth/components/Wrapper/Wrapper.component.tsx
  src/features/Auth/components/Wrapper/Wrapper.driver.tsx
  src/features/Auth/components/Wrapper/Wrapper.spec.tsx
Due: eslint, ts-lint

fix: eslint & esling file mathching update
  .eslintrc.js
  .stylelintrc.js
  src/features/Auth/components/Wrapper/Wrapper.driver.tsx
  src/features/Auth/components/Wrapper/Wrapper.stories.tsx
Due: eslint, ts-lint

feat: create wrapper & logo components (#319)
  .eslintrc.js
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .storybook/main.js
  .stylelintrc.js
  package.json
  src/app/App.css
  src/components/Logo/Logo.module.css
  src/components/Logo/Logo.stories.tsx
  src/components/Logo/Logo.tsx
  src/components/Logo/assets/logo.svg
  src/components/Logo/constants.ts
  src/components/Logo/index.ts
  src/features/Auth/components/Wrapper/Wrapper.component.tsx
  src/features/Auth/components/Wrapper/Wrapper.driver.tsx
  src/features/Auth/components/Wrapper/Wrapper.module.css
  src/features/Auth/components/Wrapper/Wrapper.spec.tsx
  src/features/Auth/components/Wrapper/Wrapper.stories.tsx
  src/features/Auth/components/index.ts
  src/features/Auth/constants.ts
  src/features/Auth/hooks/useAuth.tsx
  src/index.tsx
  src/pages/Login.tsx
  src/pages/assets/login.jpeg
  src/pages/login.page.tsx
  yarn.lock
Due: eslint, ts-lint, sort-package-json

fix: auth/wrapper
  src/features/Auth/components/Wrapper/Wrapper.module.css
  src/features/Auth/components/Wrapper/Wrapper.stories.tsx
Due: eslint, ts-lint

fix: add padding
  src/features/Auth/components/Wrapper/Wrapper.module.css
Due: none

ci: refactor
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Due: none

feat: licence
  LICENSE
Due: none

refactor: add emoji for actions
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  src/features/Auth/components/Wrapper/Wrapper.spec.tsx
Due: eslint, ts-lint

build: eslint sort props
  .eslintrc.js
  package.json
  src/components/Input/Input.tsx
  src/features/Auth/components/Wrapper/Wrapper.component.tsx
  src/features/Auth/components/Wrapper/Wrapper.driver.tsx
  src/features/Auth/constants.ts
  src/features/Expense/graphql/queries/useExpense.tsx
  src/stories/Button.tsx
  src/stories/Header.tsx
  yarn.lock
Due: eslint, ts-lint, sort-package-json

fix: remove
  .eslintrc.js
  src/components/Input/Input.tsx
Due: eslint, ts-lint

fix: auth-wrapper (#322)
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  src/features/Auth/components/Wrapper/Wrapper.module.css
  src/features/Auth/components/Wrapper/Wrapper.stories.tsx
Due: eslint, ts-lint

feat: licence (#323)
  LICENSE
Due: none

refactor: add emoji for actions, add sort-key-rules (#326)
  .eslintrc.js
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  package.json
  src/features/Auth/components/Wrapper/Wrapper.component.tsx
  src/features/Auth/components/Wrapper/Wrapper.driver.tsx
  src/features/Auth/components/Wrapper/Wrapper.spec.tsx
  src/features/Auth/constants.ts
  src/features/Expense/graphql/queries/useExpense.tsx
  src/stories/Button.tsx
  src/stories/Header.tsx
  yarn.lock
Due: eslint, ts-lint, sort-package-json

wip: form
  src/components/Input/Input.tsx
Due: eslint, ts-lint

feat: add button component
  .eslintrc.js
  .storybook/preview.js
  public/index.html
  src/components/Button/Button.component.tsx
  src/components/Button/Button.driver.tsx
  src/components/Button/Button.module.css
  src/components/Button/Button.spec.tsx
  src/components/Button/Button.stories.tsx
  src/components/Button/constants.ts
  src/components/Button/index.ts
  src/shared/variables.css
  src/stories/Button/Button.stories.tsx
  src/stories/Button/Button.tsx
  src/stories/Button/button.css
  src/stories/Button/index.ts
  src/stories/Page.tsx
Due: eslint, ts-lint

Path conditions:
  eslint: any of: *.{ts,tsx}
  ts-lint: any of: *.{ts,tsx}
  stylelint: any of: *.{css}
  sort-package-json: any of: package.json
